html {
  background-color: #000;
}

body {
  font-family: "Courier New", sans-serif;
  color: #ff8800;
  padding: 100px;
  font-size: 1.7vw;
  overflow: hidden;
  text-shadow: 0 0 10px #ff8800;
  cursor: url(cursor.png), auto;
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

body:hover {
  /*filter: brightness(120%);*/
}

pre.console {
  text-align: left;
}

pre {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 100%;
  height: 100%;
  background-image: url('scanline.png');
  filter: blur(1px);
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

pre:after {
  content: "Property of The Computing Assosication © 1983 -- ALL ACTIVIES ARE LOGGED AND INSPECTED DAILY. Have a productive day.";
  font-weight: normal;
  display: block;
  text-align: left;
  position: fixed;
  top: -80px;
  left: -80px;
  width: 100vw;
  height: 100vh;
  background-image: url('scanline.png');
  background-repeat: repeat;
  font-size: 0.7rem;
  z-index: 100;
  pointer-events: none;
}

body.clicked pre {
  filter: brightness(200%);
}
