@font-face {
  font-family: "some";
  src: url("fonts/BigBlue_Terminal_437TT.TTF");
}

html {
  background-color: #000;
}

body {
  /*font-family: "Courier New", sans-serif;*/
  font-family: "some";
  min-width: 100vw;
  min-height: 100vh;
  color: #ff8800;
  padding: 100px;
  font-size: 1.2vw;
  overflow: hidden;
  text-shadow: 0 0 10px #ff8800;
  cursor: url(cursor.png), auto;
  background-image: radial-gradient(
    rgba(50, 61, 43, 0.5), black 120%
  );
}

::selection {
  background: #ff8800;
}

::-moz-selection {
  background: #ff8800;
}

body:hover {
  /*filter: brightness(120%);*/
}

pre.console {
  text-align: left;
}

.scanlines {
  content: "Property of The Computing Assosication © 1983 -- ALL ACTIVIES ARE LOGGED AND INSPECTED DAILY. Have a productive day.";
  font-weight: normal;
  display: block;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-image: url('scanline.png');
  background-repeat: repeat;
  font-size: 0.7rem;
  z-index: 100;
  pointer-events: none;
}

pre {
  position: fixed;
  top: 100px;
  width: 100vw;
  min-height: 100vh;
  filter: blur(1px);
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

body.clicked pre {
  filter: brightness(80%);
}
